<div class="paginator">
    {% if page_obj.has_previous %}
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page=1">&#11120;</a>
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.previous_page_number }}">&#129120;</a>
    {% endif %}
    {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.next_page_number }}">&#129122;</a>
        <a href="?{% if request.GET.search %}search={{ request.GET.search }}&{% endif %}page={{ page_obj.paginator.num_pages }}">&#11122;</a>
    {% endif %}
    <form action="" method="get">
        <input type="text" name="search" value="{{ request.GET.search }}">
        <button type="submit">search</button>
    </form>
</div>